:root {
    --background-color: #fff;
    --color: #212529;
    --section-bg-color: rgb(240, 241, 242);
    --border-color: rgb(204, 205, 206);
    --info-background-color: rgb(248, 249, 250);

    --gray-color: rgb(108, 117, 125);


    /* dark mode toggle */
    --slider-background-color: #ccc;
    --slider-background-color-before: white;
    --slider-background-color-checked: #2196F3;

    /* calculator */
    --calculator-box-shadow: rgba(127, 127, 127, 1);
    --previous-question-color: gray;

    --calculator-other-btn-color: var(--gray-color);
    --calculator-ops-btn-color: rgb(255, 193, 7);
    --calculator-num-btn-color: rgb(33, 37, 41);
    --history-btn-color: #dc3545;
    --history-btn-color-hover: white;
}


body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body.light-mode {
    color: var(--color);
    background-color: var(--background-color);
}

body.dark-mode {
    color: var(--background-color) !important;
    background-color: var(--color) !important;
}



/* main heading */
#header {
    text-align: center;
    margin: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
}



/* dark mode toggle */
.lightDark {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-background-color-before);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--slider-background-color-checked);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--slider-background-color-checked);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#themeLabel {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}



/* calculator section */
.calculator-section {
    left: 30%;
    right: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
    border-radius: 80px;
    box-shadow: 0px 10px 30px 0px var(--calculator-box-shadow);
    border: 1px solid var(--border-color);
    margin-bottom: 5rem;
}

.calculator-screen {
    border-radius: 80px 80px 0 0;
    text-align: right;
    padding: 20px 60px 20px 20px;
    height: 170px;
    margin: 0px;
    border-bottom: 1px solid var(--border-color);
}
.calculator-screen.light-mode {
    background-color: var(--section-bg-color);
}
.calculator-screen.dark-mode {
    background-color: var(--color);
}

#previousQuestion {
    font-size: 24px;
}
#previousQuestion.light-mode {
    color: var(--previous-question-color);
}
#previousQuestion.dark-mode {
    color: var(--background-color);
}

#display {
    font-size: 64px;
    margin: 0;
}

.calculator-btns {
    padding: 50px 20px 50px 20px;
    border-radius: 0px 0px 80px 80px;
}
.calculator-btns.lgiht-mode {
    background-color: var(--info-background-color);
}
.calculator-btns.dark-mode {
    background-color: var(--color);
}

.calculator-btns ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.calculator-btns ul li {
    text-align: center;
    margin: 0;
}

.calculator-btns ul li button {
    width: 100% !important;
    aspect-ratio: 1/1;
    font-size: 42px;
    border-radius: 100px;
    height: 90px;
    background-color: var(--info-background-color);
}

#zeroLi {
    grid-column: span 2;
}

#zeroLi button {
    width: 60px;
    height: 90px;
}

#sqrt.light-mode,
#clear.light-mode,
#open.light-mode,
#close.light-mode,
#fact.light-mode,
#power.light-mode,
#pi.light-mode,
#percent.light-mode {
    color: var(--calculator-other-btn-color);
    border: solid 1px var(--calculator-other-btn-color);
}
#sqrt.dark-mode,
#clear.dark-mode,
#open.dark-mode,
#close.dark-mode,
#fact.dark-mode,
#power.dark-mode,
#pi.dark-mode,
#percent.dark-mode {
    color: var(--background-color);
    background-color: var(--calculator-other-btn-color);
    border: solid 1px var(--calculator-other-btn-color);
}

#divide.light-mode,
#multiply.light-mode,
#subtract.light-mode,
#add.light-mode,
#equal.light-mode {
    color: var(--calculator-ops-btn-color);
    border: 1px solid var(--calculator-ops-btn-color);
}

#divide.dark-mode,
#multiply.dark-mode,
#subtract.dark-mode,
#add.dark-mode,
#equal.dark-mode {
    color: var(--color);
    background-color: var(--calculator-ops-btn-color);
}

#zero.light-mode,
#one.light-mode,
#two.light-mode,
#three.light-mode,
#four.light-mode,
#five.light-mode,
#six.light-mode,
#seven.light-mode,
#eight.light-mode,
#nine.light-mode,
#decimal.light-mode {
    color: var(--calculator-num-btn-color);
    border: 1px solid var(--calculator-num-btn-color);
}

#zero.dark-mode,
#one.dark-mode,
#two.dark-mode,
#three.dark-mode,
#four.dark-mode,
#five.dark-mode,
#six.dark-mode,
#seven.dark-mode,
#eight.dark-mode,
#nine.dark-mode,
#decimal.dark-mode {
    background-color: var(--color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
}





/* history section */
.history-section {
    left: 30%;
    right: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 2rem;
}

.history-section h3 {
    margin: 0;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid var(--border-color);
}
.history-section h3.light-mode {
    background-color: var(--section-bg-color);
    color: var(--color);
}

.history-section ul {
    padding: 20px;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    margin-bottom: 1rem;
}
.history-section ul.light-mode {
    background-color: var(--info-background-color);
    color: var(--color);
}

#historyDisplay {
    list-style-type: none;
}

#historyDisplay li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-text,
.right-text,
.equal {
    flex: 1;
    text-align: center;
}

.left-text {
    text-align: right;
}

.right-text {
    text-align: left;
}

#historyDisplay li:hover {
    cursor: pointer;
    background-color: var(--gray-color);
    color: white;
}

.red-btn {
    padding: 0.4rem;
    border: 1px solid var(--history-btn-color);
    border-radius: 0.5rem;
    width: max-content;
}
.red-btn.light-mode {
    color: var(--history-btn-color);
    background-color: var(--background-color);
}
.red-btn.dark-mode {
    background-color: var(--history-btn-color);
    color: var(--background-color);
}

.red-btn.light-mode:hover {
    background-color: var(--history-btn-color);
    color: var(--history-btn-color-hover);
}
.red-btn.dark-mode:hover {
    background-color: var(--color);
    color: var(--background-color);
    border-color: var(--background-color);
}


@media screen and (max-width: 1200px) {
    .history-section {
        left: 10%;
        right: 10%;
        width: 80%;
    }

    .calculator-section {
        left: 10%;
        right: 10%;
        width: 80%;
    }
}