body {
  overflow-x: hidden;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
}

#header {
  text-align: center !important;
  margin: 1rem;
}

button:not(#zero, #clearBtn) {
  width: 100% !important;
  aspect-ratio: 1/1;
  font-size: 42px;
  border-radius: 100px;
}

button#zero {
  width: 100% !important;
  aspect-ratio: 2/.8;
  font-size: 42px;
  border-radius: 100px;
}

#display {
  font-size: 64px;
  line-height: 150px;
  display: flex;
  align-items: center;
  justify-content: right;
  overflow-y: hidden;
  overflow-x: hidden;
  position:absolute;
  top:50px;
  width:100%;
  padding-right: 30px;
}

#display .sqrt, #previousQuestion .sqrt, #historyDisplay .sqrt {
  text-decoration:overline;
}

#card {
  border-radius: 80px !important;
  box-shadow: 0px 10px 30px 0px rgba(127, 127, 127, 1);
}

#calculator {
  border-radius: 80px 80px 0px 0px !important;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 170px;
}

/* Styling for theme toggle checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#themeLabel {
  display: flex;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lightHeader {
  color: black;
}

.darkHeader {
  color: white;
}

.lightDark {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#previousQuestion {
  text-align: right;
  position:absolute;
  width:100%;
  top: 50px;
  padding-right: 30px;
  color: gray;
  font-size: 24px;
}

.btn-outline-dark, .btn-outline-light {
  font-weight: bold !important;
}

#historyDisplay p {
  font-size: 24px;
}

#historyDisplay li {
  transition: 0.3s;
}

#historyDisplay li:hover {
  cursor: pointer;
  background-color: rgb(100,100,100);
}

ul.dark li {
  background-color: rgb(50,50,50);
  color: white;
}


/* history section */
.historySection {
  left: 30%;
  right: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1rem;
}

.historySection h3 {
  background-color: rgb(240, 241, 242);
  margin: 0;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid rgb(204, 205, 206);
}

.historySection ul {
  background-color: rgb(248, 249, 250);
  padding: 20px;
  margin: 0;
  border-radius: 0 0 1rem 1rem;
  border-bottom: 1px solid rgb(204, 205, 206);
  border-left: 1px solid rgb(204, 205, 206);
  border-right: 1px solid rgb(204, 205, 206);
  margin-bottom: 0.4rem;
}

.red-btn {
  padding: 0.4rem;
  color: #dc3545;
  background-color: transparent;
  border: 1px solid #dc3545;
  border-radius: 0.5rem;
  width: max-content;
}

.red-btn:hover {
  background-color: #dc3545;
  color: white;
}

@media screen and (max-width: 1200px) {
  .historySection {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}