:root {
    --background-color: #fff;
    --color: #212529;
    --section-bg-color: rgb(240, 241, 242);
    --border-color: rgb(204, 205, 206);
    --info-background-color: rgb(248, 249, 250);

    --gray-color: rgb(108, 117, 125);

    
    /* dark mode toggle */
    --slider-background-color: #ccc;
    --slider-background-color-before: white;
    --slider-background-color-checked: #2196F3;

    /* calculator */
    --calculator-box-shadow: rgba(127, 127, 127, 1);
    --previous-question-color: gray;
    
    --calculator-other-btn-color: var(--gray-color);
    --calculator-ops-btn-color: rgb(255, 193, 7);
    --calculator-num-btn-color: rgb(33, 37, 41);
    --history-btn-color: #dc3545;
    --history-btn-color-hover: white;
}



body {
    overflow-x: hidden;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color);
    background-color: var(--background-color);
}



/* main heading */
#header {
    text-align: center;
    margin: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;
}



/* dark mode toggle */
.lightDark {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-background-color-before);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--slider-background-color-checked);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--slider-background-color-checked);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#themeLabel {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}



/* calculator section */
.calculator-section {
    left: 30%;
    right: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 1rem;
    border-radius: 80px;
    box-shadow: 0px 10px 30px 0px var(--calculator-box-shadow);
    border: 1px solid var(--border-color);
    margin-bottom: 5rem;
}

.calculator-screen {
    background-color: var(--section-bg-color);
    border-radius: 80px 80px 0 0;
    text-align: right;
    padding: 20px 60px 20px 20px;
    height: 170px;
    margin: 0px;
    border-bottom: 1px solid var(--border-color);
}

#previousQuestion {
    color: var(--previous-question-color);
    font-size: 24px;
}

#display {
    font-size: 64px;
    margin: 0;
}

.calculator-btns {
    background-color: var(--info-background-color);
    padding: 50px 20px 50px 20px;
    border-radius: 0px 0px 80px 80px;
}

.calculator-btns ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.calculator-btns ul li {
    text-align: center;
    margin: 0;
}

.calculator-btns ul li button {
    width: 100% !important;
    aspect-ratio: 1/1;
    font-size: 42px;
    border-radius: 100px;
    height: 90px;
    background-color: var(--info-background-color);
}

#zeroLi {
    grid-column: span 2;
}

#zeroLi button {
    width: 60px;
    height: 90px;
}

#sqrt,
#clear,
#open,
#close,
#fact,
#power,
#pi,
#percent {
    color: var(--calculator-other-btn-color);
    border: solid 1px var(--calculator-other-btn-color);
}

#divide,
#multiply,
#subtract,
#add,
#equal {
    color: var(--calculator-ops-btn-color);
    border: 1px solid var(--calculator-ops-btn-color);
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    color: var(--calculator-num-btn-color);
    border: 1px solid var(--calculator-num-btn-color);
}





/* history section */
.history-section {
    left: 30%;
    right: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 2rem;
}

.history-section h3 {
    background-color: var(--section-bg-color);
    margin: 0;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 1rem 1rem 0 0;
    border: 1px solid var(--border-color);
}

.history-section ul {
    background-color: var(--info-background-color);
    padding: 20px;
    margin: 0;
    border-radius: 0 0 1rem 1rem;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

#historyDisplay {
    list-style-type: none;
}

#historyDisplay li {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
  }
  
  .left-text, .right-text, .equal {
    flex: 1; 
    text-align: center;
  }
  
  .left-text {
    text-align: right;
  }
  
  .right-text {
    text-align: left; 
  }

#historyDisplay li:hover {
    cursor: pointer;
    background-color: var(--gray-color);
    color: white;
}

.red-btn {
    padding: 0.4rem;
    color: var(--history-btn-color);
    background-color: transparent;
    border: 1px solid var(--history-btn-color);
    border-radius: 0.5rem;
    width: max-content;
}

.red-btn:hover {
    background-color: var(--history-btn-color);
    color: var(--history-btn-color-hover);
}

@media screen and (max-width: 1200px) {
    .history-section {
        left: 10%;
        right: 10%;
        width: 80%;
    }

    .calculator-section {
        left: 10%;
        right: 10%;
        width: 80%;
    }
}